body {
    background: rgb(135,63,251);
    background: radial-gradient(circle, rgba(135,63,251,1) 0%, rgba(252,70,107,1) 100%);
}

nav {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, p {
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
}

h1 {
    padding-top: 20px;
}

p {
    font-size: larger;
    padding: 40px;
}